[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vimperator/vimppm/vimppm"]
	path = .vimperator/vimppm/vimppm
	url = https://github.com/cd01/vimppm.git
[submodule ".zsh/zsh-bd"]
	path = .zsh/zsh-bd
	url = https://github.com/Tarrasch/zsh-bd
