[include]
  path      = ~/.gitconfig.local
[color]
	ui        = auto
[alias]
  # add
	a         = !git add -A && git status
	ad        = !git add -A && git status
	acm       = !git add -A && git commit -m

  # commit
	c         = commit
	cm        = commit -m
	cminit    = commit -m 'Initial commit'
	ca        = commit --amend
  this      = !git init && git add . && git commit -m \"Initial commit\"

  # status
	s         = !git status && git stash list
	sh        = show
  sho       = remote show origin

  # checkout
	co        = checkout
	com       = checkout master
	cod       = checkout develop
	cop       = checkout -
	cb        = checkout -b
  cbf       = !sh -c 'git checkout -b feature-$0'
  cbr       = !sh -c 'git checkout -b release-$0'
  cbh       = !sh -c 'git checkout -b hotfix-$0'

  # branch
	b         = branch
	ba        = branch -a
	br        = branch -r
  bd        = branch -d
  bD        = branch -D
  bdd       = !sh -c 'git branch -d $0 && git push origin :$0'
  bDd       = !sh -c 'git branch -D $0 && git push origin :$0'

  # diff
	d         = diff
	dc        = diff --cached
	ds        = diff --staged
	dn        = diff --name-only
	dm        = diff master
	dd        = diff develop
	d1        = diff HEAD~
	d2        = diff HEAD~~
	d3        = diff HEAD~~~
	d4        = diff HEAD~~~~
	d5        = diff HEAD~~~~~

  # git-flow
	f         = flow
	finit     = flow init
	ffs       = flow feature start
	fff       = flow feature finish
	frs       = flow release start
	frf       = flow release finish
	fhs       = flow hotfix start
	fhf       = flow hotfix finish

  # log
	l         = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ll        = log --stat --abbrev-commit

  # push
	p         = push
	po        = push origin
	pom       = push origin master
	pod       = push origin develop
	pot       = push origin --tags
  poc       = !git push origin `git rev-parse --abbrev-ref HEAD`

  # pull
	pl        = pull
	plo       = pull origin
	plom      = pull origin master
	plod      = pull origin develop

  # remote
  r         = remote
  rv        = remote -v
  ra        = remote add
	rao       = remote add origin
	raogh     = !git remote add origin https://github.com/mako2x/$1.git
	raobb     = !git remote add origin ssh://git@bitbucket.org/mako2x/$1.git

	re        = reset
	reh       = reset --hard
	rehh      = reset --hard HEAD
	res       = reset --soft

  # tag
  t         = tag
  ta        = tag -a

  # merge
  m         = merge --no-ff --log
  mp        = merge --no-ff --log -

  # clone
	cl        = clone

  # Show all defined aliases
  alias     = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort

  # Amend with the same message
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend

  # Quickly add a file/dir to .gitignore.
  ignore    =!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore

  # Reset ignore file
  ignorereset = !git rm -r --cached . && git add .

  # Create .gitignore file from gitignore.io
  # e.g. $ git ignoreio osx linux ruby > .gitignore
  #      $ git ignoreio list
  ignoreio  = !"f() { local s=$1; shift; while [ $# -gt 0 ]; do s="$s,$1"; shift; done; curl "http://gitignore.io/api/$s"; }; f"

[core]
	editor         = vim -c \"set fenc=utf-8\"
	pager          = lv -c
	excludesfile   = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
[grep]
	lineNumber = true
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B
[push]
	default = simple
[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
  root = ~/src
