[include]
  path      = ~/.gitconfig.local
[color]
	ui        = auto
[alias]
	a         = add -A
	ad        = add -A

	c         = commit
	cm        = commit -m
	cma       = commit --amend
	cminit    = commit -m 'Initial commit'

	s         = status
	st        = status
	sh        = show

	co        = checkout
	com       = checkout master
  m         = checkout master
	cod       = checkout develop
	cb        = checkout -b

	b         = branch
	ba        = branch -a
	br        = branch -r

	d         = diff
	dc        = diff --cached
	ds        = diff --staged
	dn        = diff --name-only
	dm        = diff master
	dd        = diff develop
	d1        = diff HEAD~
	d2        = diff HEAD~~
	d3        = diff HEAD~~~
	d4        = diff HEAD~~~~
	d5        = diff HEAD~~~~~

	f         = flow
	finit     = flow init
	ffs       = flow feature start
	fff       = flow feature finish
	frs       = flow release start
	frf       = flow release finish
	fhs       = flow hotfix start
	fhf       = flow hotfix finish

	l         = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ll        = log --stat --abbrev-commit
  t         = !tig

	p         = push
	po        = push origin
	pom       = push origin master

  r         = remote
  rv        = remote -v
  ra        = remote add
	rao       = remote add origin
	raogh     = !git remote add origin https://github.com/mako2x/$1.git
	raobb     = !git remote add origin ssh://git@bitbucket.org/mako2x/$1.git

	cl        = clone

  # Make this a git repo
  this      = !git init && git add . && git commit -m \"Initial commit\"

  # Show all defined aliases
  alias     = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort

  # Amend with the same message
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend

  # Quickly add a file/dir to .gitignore.
  ignore    =!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore

  # Reset ignore file
  ignorereset = !git rm -r --cached . && git add .

  # Create .gitignore file from gitignore.io
  # e.g. $ git ignoreio osx linux ruby > .gitignore
  #      $ git ignoreio list
  ignoreio  = !"f() { local s=$1; shift; while [ $# -gt 0 ]; do s="$s,$1"; shift; done; curl "http://gitignore.io/api/$s"; }; f"

[core]
	editor       = vim -c \"set fenc=utf-8\"
	pager        = lv -c
	excludesfile = ~/.gitignore_global
[grep]
	lineNumber = true
[merge]
	ff = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
